[submodule "levelprime/partner-contact"]
	path = levelprime/partner-contact
	url = git@github.com:levelprime/partner-contact.git
	branch = 13.0

[submodule "Levelprime/e-commerce"]
	path = Levelprime/e-commerce
	url = git@github.com:Levelprime/e-commerce.git
	branch = 13.0

[submodule "Levelprime/product-attribute"]
	path = Levelprime/product-attribute
	url = git@github.com:Levelprime/product-attribute.git
	branch = 13.0

[submodule "Levelprime/server-ux"]
	path = Levelprime/server-ux
	url = git@github.com:Levelprime/server-ux.git
	branch = 13.0

[submodule "Levelprime/stock-logistics-warehouse"]
	path = Levelprime/stock-logistics-warehouse
	url = git@github.com:Levelprime/stock-logistics-warehouse.git
	branch = 13.0
